<p>
  <b>Name:</b>
  <%=h @comment.name %>
</p>

<p>
  <b>Text:</b>
  <%=h @comment.text %>
</p>

<p>
  <b>Ride:</b>
  <%=h @comment.ride_id %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
