<h1>Posts</h1>

<%=link_to_function "add new post", visual_effect(:toggle_appear, "new-form", :duration => 0.5)%>

<div id="new-form" style="display: none;">
  <% form_for(@post) do |f| %>
    <%= f.error_messages %>
    <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %><br /><br />
    <%= f.label :text, "Message" %><br />
    <%= f.text_area :text %><br />
    <%= f.submit "Submit" %>
    </p>
  <% end %>
</div>

<% for post in @posts %>
<div class="post_div">
  <h4><%=h post.name %></h4>
  <p><em><%=h post.created_at %></em></p>
  <p><%=h post.text %></p>
</div>
<% end %>
