<h1>Give a ride / Take a ride</h1>

<h2>Offering</h2>
<table>
  <tr>
    <th>Location</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% for ride in @offering_rides %>
  <tr>
    <td><%=h ride.location %></td>
    <td><%=h ride.name %></td>
    <td><%=h ride.email %></td>
    <td><%= link_to 'Show', ride %></td>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <td><%= link_to 'Destroy', ride, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
    <% for comment in ride.comments %>
    <tr>
      <td><%=h comment.name %></td>
    </tr>
    <tr>
      <td><%=h comment.text %></td>
    </tr>
    <% end %>
<% end %>
</table>

<h2>Requesting</h2>
<table>
  <tr>
    <th>Location</th>
    <th>Name</th>
    <th>Email</th>
  </tr>

<% for ride in @requesting_rides %>
  <tr>
    <td><%=h ride.location %></td>
    <td><%=h ride.name %></td>
    <td><%=h ride.email %></td>
    <td><%= link_to 'Show', ride %></td>
    <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
    <td><%= link_to 'Destroy', ride, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
    <% for comment in ride.comments %>
    <tr>
      <td><%=h comment.name %></td>
    </tr>
    <tr>
      <td><%=h comment.text %></td>
    </tr>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New ride', new_ride_path %>
